
work
build
.project
.cproject
.settings
.pydevproject
gmon.out

*.o
*.d
*.exe
*.ilk
*.pdb

__pycache__
*.pyc
*~

*.csv
*.cfg

.vscode

P3Brain/P3Brain.sln
P3Brain/P3Brain.vcxproj
P3Brain/P3Brain.vcxproj.filters

*output.dat
*output.meta
*solutions.dat
