
work
build
.project
.cproject
.settings
.pydevproject
gmon.out

*.o
*.d

__pycache__
*.pyc
*~

*.csv
*.cfg

P3Brain/output.dat
P3Brain/P3Brain.sln
P3Brain/P3Brain.vcxproj
P3Brain/P3Brain.vcxproj.filters

