# Experiment Related
experiment singlerun
runs 1
verbosity 2
eval_limit 25000000
fitness_limit 1000000.0
solution_file solutions.dat
disable_solution_outfile 0
disable_metadata 0

# Problem Related
problem MarkovWorld
world Berry
decoder Hypercube
gates 12
gate_complexity 3
trials 20

length 168

# Optimizer Related
optimizer Pyramid